<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Risposta a richiesta #[[RICHIESTANUMERO]]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT">
    <link href="/css/EdcTracker.css" rel="stylesheet"/>
    <link href="/css/bootstrap-md.min.css" rel="stylesheet">
    <link href="/css/flaticon.css" rel="stylesheet">
    <link href="/css/md-icons.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/angular-clock.css">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responder.css" rel="stylesheet">
    <link rel="icon" href="/images/BeIcon.png" type="image/png"/>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">  <!-- it's important for d3.js -->

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
</head>

<script>
    var brandname = "[[BRANDNAME]]";
    var codiceaccesso = "[[CODICEACCESSO]]";
</script>


<body ng-app="App" ng-controller="RispostaARichiesta" class="responder_page">
<div ng-file-drop="" ng-file-over="another-file-over-class" class="">
    <div class="container">
        <div ng-show="WaitMessage">

            <!-- <div class="col-xs-4 col-sm-2 col-lg-1">
                <img style="max-height: 50px" src="/BeCore/SmartOpResponder/gears_animated.gif">
            </div>
            <div class="col-xs-4 col-sm-8 col-lg-10" style="text-align: center">
                <h4>{{WaitMessage}}</h4>
            </div>
            <div class="col-xs-4 col-sm-2 col-lg-1">
                <img class="pull-right" style="max-height: 50px" src="/BeCore/SmartOpResponder/gears_animated.gif">
            </div> -->
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Upload in corso...</span>

        </div>

        <div class="row" style="margin-top: 50px">
            <div class="col-md-12 col-xs-12 text-center">
                <a href="http://www.ramazziniegidiosrl.it/" target="_blank">
                    <img  class="logo" src="/ramazziniegidio/smartopresponder/logo.jpg">
                </a>
            </div>
        </div>
        <hr>
        <div class="row intestazione">
            <div class="full_at_500 col-xs-6 col-sm-6 box_oggetto">
                <h3><i class="fa fa-envelope-open-o" aria-hidden="true"></i>&nbsp;<strong>#[[RICHIESTANUMERO]]</strong>&nbsp;[[OGGETTO]]
                </h3>
            </div>
            <div class="full_at_500 col-xs-6 col-sm-6 text-right box_nome_utene">
                <h3><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;[[UTENTE]]</h3>
            </div>
        </div>



    <textarea ng-model="Messaggio" class="responder form-control"
              placeholder="Inserisci qui il testo del messaggio di risposta"></textarea>


        <div class="row">
            <div class="full_at_500 col-xs-4 col-sm-4 send_button_container">
                <button ng-disabled="!Messaggio" ng-click="InviaMessaggioRisposta()" class="btn btn-success">Invia
                    questo messaggio
                </button>

            </div>

            <div class="full_at_500 col-xs-8 text-right text_file_upload"><span class="text_file_upload_text">Trascina il file da allegare nell'area testo oppure</span>
                <div class="file_upload_button fileUpload btn btn-primary">
                    <span><div class="hidetext">Scegli un file</div><i class="fa fa-paperclip icon"
                                                                       aria-hidden="true"></i></span>
                    <input type="file" class="upload" ng-file-select uploader="uploader"/>
                </div>
            </div>
        </div>


        <div class="row">


            <div class="col-xs-12 col-sm-8">


            </div>


        </div>

        <!--
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger">
                    {{Errore}}
                </div>
            </div>
        </div>
        -->

        <div class="row">
            <div style="margin-top: 10px" class="col-xs-12" ng-repeat="item in Allegati">
                <button class="btn btn-danger" ng-click="RimuoviAllegato($index)">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
                {{item.NomeFileOriginale}}
            </div>
        </div>
        <div id="timeline">
            [[TIMELINE]]
        </div>


        <div>
            <div class="bmd-page-container">
                <div class="container">
                    <div class="view-container">
                        <div class="view-frame" style="margin-top: 80px; margin-bottom: 50px" ng-view="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bottom_footer_container_fluid">
        <div class="row">
            <div class="col-md-12">
                <a href="http://www.becomitalia.com/" target="_blank">Powered by Becom</a>
            </div>
        </div>
    </div>
</div>
<script src="/frontend/libs/jquery-1.11.0.min.js"></script>
<script src="/frontend/libs/angular.min.js"></script>
<script src="/frontend/libs/angular-file-upload.min.js"></script>
<script src="/ramazziniegidio/SmartOpResponder/Application.js"></script>

<script>
    $( window ).load(function() {

        if($("html").height() <= ($(window).height()))
            $("html").css({"height" : "100%"});
    });
</script>

</body>
</html>